<h1>All cocktails</h1>
<p><%= link_to "Add another cocktail",  new_cocktail_path %></p>
<ul>
  <div class="container">
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card col-2 m-2" style="width: 12rem;">
        <img class="card-img-top" src=<%= cocktail.picture %>>
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h5>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</ul>
