<br>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
<!--       <%= link_to cocktail_path(cocktail.id), method: :delete do %>
      <i class="far fa-trash-alt"></i>
      <% end %> -->
    </div>
  <% end %>
</div>
